<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1072534772679-6ilqvc5on3tbv6ubsgs5fhhrshcjm5k0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1072534772679-6ilqvc5on3tbv6ubsgs5fhhrshcjm5k0</string>
	<key>API_KEY</key>
	<string>AIzaSyDAXDBZnl6K-hOkhcVAPACMGjO-SsElGlA</string>
	<key>GCM_SENDER_ID</key>
	<string>1072534772679</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.expentyFlutter</string>
	<key>PROJECT_ID</key>
	<string>expenty-8558a</string>
	<key>STORAGE_BUCKET</key>
	<string>expenty-8558a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1072534772679:ios:3704208f6f4ebc3dfc57e2</string>
</dict>
</plist>